:root {
    --bg: #2e3440;
    --fg: #eceff4;
    --tab-background: #3b4252;
    --tab-suspended: #2e3440;
    --visible-tab: #4c566a;
    --tab-split: #d08770;
    --tab-audio: #88c0d0;
    --tab-muted: #d8dee9;
    --tab-muted-playing: #ebcb8b;
    --tab-crashed: #bf616a;
    --tab-scrollbar: #88c0d0;
    --mode-normal-fg: #eceff4;
    --mode-command-fg: #bf616a;
    --mode-insert-fg: #a3be8c;
    --mode-follow-fg: #b48ead;
    --mode-explore-fg: #88c0d0;
    --mode-search-fg: #ebcb8b;
    --mode-pointer-fg: #2e3440;
    --mode-pointer-bg: #d8dee9;
    --mode-visual-fg: #2e3440;
    --mode-visual-bg: #81a1c1;
    --url-default: #d8dee9;
    --url-search: #d08770;
    --url-searchwords: #b48ead;
    --url-url: #88c0d0;
    --url-suggest: #a3be8c;
    --url-file: #ebcb8b;
    --url-invalid: #bf616a;
    --follow-text: #2e3440;
    --follow-url-bg: #88c0d0;
    --follow-url-border: #81a1c1;
    --suggestions-border: #4c566a;
    --suggestions-bg: #3b4252;
    --suggestions-selected: #4c566a;
    --suggestions-searchwords: #b48ead;
    --suggestions-url: #88c0d0;
    --suggestions-file: #ebcb8b;
    --notification-border: #4c566a;
    --notification-error: #bf616a;
    --notification-warning: #ebcb8b;
    --notification-info: #88c0d0;
    --notification-success: #a3be8c;
    --link-color: #88c0d0;
    --link-underline: #5e81ac;
    --scrollbar-bg: #3b4252;
    --scrollbar-thumb: #4c566a;
    --code-fg: #d8dee9;
    --code-bg: #3b4252;
}
